@inherits LayoutComponentBase

<div class="modal" tabindex="-1" role="form" id="@id">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@HeaderText</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Body
            </div>
            <div class="modal-footer">               
                <button type="button" class="btn btn-primary" onclick="@OnSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string HeaderText { get; set; }

    [Parameter]
    public string OnClose { get; set; }

    [Parameter]
    public Action OnSubmit { get; set; }

    [Parameter]
    public string id { get; set; }
}
